MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=MARKETSENSE
MONGODB_NAME=marketsense
PORT=3000
FINNHUB_API_KEY=your_finnhub_api_key
GEMINI_API_KEY=your_google_gemini_api_key
JWT_SECRET=your_super_secret_jwt_key_min_32_chars
FRONTEND_URLS=http://localhost:5173
